In [1]:
import pandas as pd

In [2]:
#GERMANY OG DATA
OG_GERM=r"C:\Users\alexw\Desktop\BDG3_FTP\Group_Assignment\Deutschland_Cities.csv"
dfG=pd.read_csv(OG_GERM)

In [3]:
dfG.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0

In [17]:
filtered_dfG = dfG[['city', 'population']]

# Save the filtered DataFrame to a new CSV file
filtered_dfG.to_csv('OG_German_Cities.csv', index=False)

In [23]:
#FRANCE OG DATA: MUCH MESSIER
OG_FRANCE_PATH=r"C:\Users\alexw\Desktop\BDG3_FTP\Group_Assignment\villes.csv"
dfF=pd.read_csv(OG_FRANCE_PATH)

In [24]:
print(dfF.columns)

Index([';Postal Code;x;y;iseecode;place;population;surface;altitude'], dtype='object')

In [26]:
dfF['cities'] = dfF[';Postal Code;x;y;iseecode;place;population;surface;altitude'].apply(lambda x: x.split(';')[5])

C_dfF=dfF[['cities']]

In [31]:
import numpy as np

# Assuming C_dfF is your DataFrame

# Generate random population values between 50 and 2,799,999
C_dfF['population'] = np.random.randint(50, 2800000, size=len(C_dfF))


# # Save the DataFrame to a new CSV file
C_dfF.to_csv('OG_French_Cities.csv', index=False)